<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.local.mullvad-pfctl-disable-on-connect</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/mullvad-pfctl-disable-on-connect</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StartInterval</key>
	<integer>5</integer>
	<key>StandardOutPath</key>
	<string>/var/log/mullvad-pfctl-disable-on-connect.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/mullvad-pfctl-disable-on-connect.err</string>
</dict>
</plist>
