<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.nice-dns.free-port53</string>

    <key>RunAtLoad</key><true/>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-c</string>
      <string>/bin/launchctl setenv TALPID_DISABLE_LOCAL_DNS_RESOLVER 1; if [ -f /Library/LaunchDaemons/net.mullvad.daemon.plist ]; then /bin/launchctl bootout system/net.mullvad.daemon 2>/dev/null; sleep 1; /bin/launchctl bootstrap system /Library/LaunchDaemons/net.mullvad.daemon.plist 2>/dev/null; fi; /bin/launchctl bootout system/com.apple.mDNSResponder 2>/dev/null; /bin/launchctl bootout system/com.apple.mDNSResponderHelper 2>/dev/null; true</string>
    </array>

    <key>KeepAlive</key><false/>
  </dict>
</plist>
