[Unit]
Description=Pi-hole DNS sinkhole
After=unbound.service

[Container]
ContainerName=pi-hole
Image=localhost/pi-hole:latest
Network=nice-dns.network
IP=172.31.240.250
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort=8880:80
Environment=TZ=Europe/London
Environment=DNS1=172.31.240.251
Environment=DISABLE_GITHUB_UPDATES=true
HealthCmd=dig -p $(pihole-FTL --config dns.port) +short +norecurse +retry=0 @127.0.0.1 pi.hole || exit 1
HealthInterval=30s
HealthTimeout=10s
HealthRetries=5
HealthStartPeriod=90s
HealthOnFailure=restart

[Install]
WantedBy=default.target
