[Unit]
Description=Tor socat DNS-over-TLS proxy

[Container]
ContainerName=tor-socat
Image=docker.io/sureserver/tor-socat:latest
Pod=nice-dns.pod
NoNewPrivileges=true
EnvironmentFile=%h/.config/nice-dns/bridges.env
HealthCmd=dig +short +tls -p 853 @127.0.0.1 cloudflare.com | grep -Eo '\b[0-9.]{7,15}\b' >/dev/null
HealthInterval=30s
HealthTimeout=10s
HealthRetries=5
HealthStartPeriod=90s
HealthOnFailure=restart

[Service]
Restart=on-failure
RestartSec=3s
TimeoutStopSec=70

[Install]
WantedBy=default.target
